.navbar-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 105px;
  height: 900px;
  background: linear-gradient(180deg, #000000 0%, #B5B5B5 100%);
}

.navbar-container div {
  width: 105px;
  height: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.navbar-container > p {
  margin-top: 19px;
  margin-bottom: 45px;
  font-size: 18px;
}

.navbar-container p {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.navbar-container img {
  margin-bottom: 10px;
}

@media (max-width: 1100px){
  .navbar-container {
    padding-top: 15px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, #000000 0%, #B5B5B5 100%);
  }
}
